.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-hover:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

.custom-card {
  background-color: #f8f9fa;
  color: rgb(2, 27, 91);
  border-radius: 40px;
}

.custom-card a {
  color: rgb(2, 27, 91);
}

.custom-card a:hover {
  color: darkred;
}

.bg-custom-light {
  background-color:rgb(62, 73, 85); /* Bootstrap's light gray */
}

